@use "./colors" as *;

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    height: 50vw;
    width: 50vw;

    > div:nth-child(even) {
        .square:nth-child(even) {
            background-color: $light;
        }
        .square:nth-child(odd) {
            background-color: $dark;
        }
    }

    > div:nth-child(odd) {
        .square:nth-child(even) {
            background-color: $dark;
        }
        .square:nth-child(odd) {
            background-color: $light;
        }
    }

    > .invisible {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.square {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &#knight {
        background-color: $bg-color;
    }

    &#target {
        background-color: $secondary;
    }

    > .knight-icon {
        > path {
            fill: $light;
        }
    }
}