@use "./colors" as *;

.board-container {
    display: grid;
    grid-template-areas: 
        "y board"
        ".   x  ";

    > .board {
        grid-area: board;
    }

    > .y-axis {
        grid-area: y;
        display: grid;
        height: 50vw;
        padding-right: 0.3rem;
    }

    > .x-axis {
        grid-area: x;
        display: grid;
        grid-auto-flow: column;
        width: 50vw;
    }

    .x-axis > div,
    .y-axis > div {
        font-weight: bold;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    height: 50vw;
    width: 50vw;
    box-shadow: 0.2rem 0.2rem 0.5rem $dark;

    > div:nth-child(even) {
        .square:nth-child(even) {
            background-color: $light;
        }
        .square:nth-child(odd) {
            background-color: $dark;
        }
    }

    > div:nth-child(odd) {
        .square:nth-child(even) {
            background-color: $dark;
        }
        .square:nth-child(odd) {
            background-color: $light;
        }
    }

    > .invisible {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.square {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &#knight {
        background-color: $bg-color;
    }

    &#target {
        background-color: $secondary;
    }

    > .knight-icon {
        > path {
            fill: $light;
        }
    }
}