@use "./colors" as *;
@use "./board";
@use "./informations";

main {
    background-color: $light;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;
    position: relative;
}

.board-status {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    * {
        text-align: center;
    }

    .from, .path span:first-child {
        font-weight: bold;
        color: $bg-color;
    }

    .to, .path span:first-child + span {
        font-weight: bold;
        color: $secondary;
    }

    .path {
        list-style: none;
    }

    .steps {
        font-weight: bold;
    }
}
